/target/
/efacturador/src/main/resources/rebel.xml
/.project
/.settings/org.eclipse.core.resources.prefs
/.settings/org.eclipse.m2e.core.prefs
/efacturador-core/.classpath
/efacturador-core/.project
/efacturador-core/.settings/org.eclipse.core.resources.prefs
/efacturador-core/.settings/org.eclipse.jdt.core.prefs
/efacturador-core/.settings/org.eclipse.m2e.core.prefs
/efacturador-core/.settings/org.eclipse.wst.common.component
/efacturador-core/.settings/org.eclipse.wst.common.project.facet.core.xml
/efacturador-core/.settings/org.eclipse.wst.validation.prefs
/efacturador/.classpath
/efacturador/.project
/efacturador/.settings/.jsdtscope
/efacturador/.settings/com.vaadin.integration.eclipse.prefs
/efacturador/.settings/org.eclipse.core.resources.prefs
/efacturador/.settings/org.eclipse.jdt.core.prefs
/efacturador/.settings/org.eclipse.m2e.core.prefs
/efacturador/.settings/org.eclipse.wst.common.component
/efacturador/.settings/org.eclipse.wst.common.project.facet.core.xml
/efacturador/.settings/org.eclipse.wst.jsdt.ui.superType.container
/efacturador/.settings/org.eclipse.wst.jsdt.ui.superType.name
/efacturador/.settings/org.eclipse.wst.validation.prefs
