<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<script type='text/javascript'>
	var setTarget = function() {
		var uri = '$APPURI';
		var f = document.getElementById('loginf');
		document.forms[0].action = uri;
		document.forms[0].j_username.focus();
	};
	var styles = window.parent.document.styleSheets;
	for ( var j = 0; j < styles.length; j++) {
		if (styles[j].href) {
			var stylesheet = document.createElement('link');
			stylesheet.setAttribute('rel', 'stylesheet');
			stylesheet.setAttribute('type', 'text/css');
			stylesheet.setAttribute('href', styles[j].href);
			document.getElementsByTagName('head')[0].appendChild(stylesheet);
		}
	}
	function submitOnEnter(e) {
		var keycode = e.keyCode || e.which;
		if (keycode == 13) {
			document.forms[0].submit();
		}
	}
</script>
</head>
<body onload='setTarget();' style='margin: 0; padding: 0; background: transparent;' class="$GENERATED_BODY_CLASSNAME">
	<div class='v-app v-app-loginpage' style="background: transparent;">
		<iframe name='logintarget' style='width: 0; height: 0; border: 0; margin: 0; padding: 0;'></iframe>
		<form id='loginf' target='_top' onkeypress="submitOnEnter(event)" method="post">
			<div>
				<table style='width: 280px;' cellpadding='0' cellspacing='0'
					class='v-formlayout-margin-top v-formlayout-margin-right v-formlayout-margin-bottom v-formlayout-margin-left v-formlayout-spacing'>
					<colgroup>
						<col>
					</colgroup>
					<tbody>
						<tr class='v-formlayout-row v-formlayout-firstrow'>
							<td class='v-formlayout-captioncell'>
								<div class='v-caption' style='font-weight: bold;'>
									<span>$USERNAME_CAPTION</span>
								</div>
							</td>
							<td class='v-formlayout-errorcell'>
								<div class='v-formlayout-error-indicator'>
								</div>
							</td>
							<td class='v-formlayout-contentcell' width='100%'>
								<input type='text' class='v-textfield v-textfield-error v-textfield-required' style='' name='j_username'>
							</td>
						</tr>
						<tr class='v-formlayout-row v-formlayout-lastrow'>
							<td class='v-formlayout-captioncell'>
								<div class='v-caption' style='font-weight: bold;'>
									<span>$PASSWORD_CAPTION</span>
								</div>
							</td>
							<td class='v-formlayout-errorcell'>
								<div class='v-formlayout-error-indicator'>
								</div>
							</td>
							<td class='v-formlayout-contentcell' width='100%'>
								<input type='password' class='v-textfield v-textfield-error v-textfield-required' style='' name='j_password'>
							</td>
						</tr>
						#if( $ERROR_MESSAGE )
						<tr>
							<td class='v-formlayout-contentcell' colspan="3">
								<div style='float: left;' class="v-form-errormessage">
									<span>$ERROR_MESSAGE</span>
								</div>
							</td>
						</tr>
						#end
					</tbody>
				</table>
				<div style='float: left; margin-left: 180px;'>
					<div onclick="document.forms[0].submit();" tabindex="0" class="v-button" role="button">
						<span class="v-button-wrap"> 
							<span class="v-button-caption">$LOGIN_BUTTON_CAPTION</span>
						</span>
					</div>
				</div>
			</div>
		</form>
	</div>
</body>
</html>